[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
matplotlib = "*"
rope = "*"

[packages]
pygame = "*"
i3ipc = "*"
pillow = "*"
pyxdg = "*"
timing = "*"

[requires]
python_version = "3.7"
